<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basic-styles.css"/>
    <title>Document</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <h1 th:text="'create a bet page for game with id:' + ${gameId}"></h1>
    <form action="#" th:action="@{/create-bet/{gameId}(gameId=${gameId})}" th:object="${createBetAttempt}" method="post">
        <div>
            <label for="betValueCreator">betValueCreator</label>
            <input id="betValueCreator" type="number" min=1 th:field="*{betValueCreator}" name="betValueCreator" />
        </div>
        <div>
            <label for="betValueTaker">betValueTaker</label>
            <input id="betValueTaker" type="number" min=1 th:field="*{betValueTaker}" name="betValueTaker" />
        </div>
        <div>
            <label for="betOnHomeTeamCreator">Home team wins?</label>
            <select name="betOnHomeTeamCreator" id="betOnHomeTeamCreator">
                <option value="true">yes</option>
                <option value="false">no</option>
            </select>
        </div>
        <div>
            <button type="reset" value="Reset">reset</button>
            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>