body {
    font-size: 20px;
}

/* spacing */
td, th {
  padding: 0 0.2rem;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  text-align: left;
}

th,
td {
  padding: 1rem;
}


tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

tbody tr:hover {
    background-color: gray;
}